<template>
  <div id = "app">
    <Header class = "bg-black"></Header>
    <section class = "main">
      <router-view />
    </section>
  </div>
</template>

<script>
import Header from "@/components/Header.vue"
// import Index from "@/components/Index.vue"

export default {
  name: 'App',
  components: {   
    // Index, 
    Header
  }
}
</script>


